@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .liquid-glass {
    /* bg-transparent */
    background-color: transparent; 
    
    /* backdrop-blur-md */
    backdrop-filter: blur(var(--blur-md));
    /*-webkit-backdrop-filter: blur(var(--blur-md));*/ /* Soporte para Safari / iOS */
    
    /* border-b border-gray-900 */
    border-bottom: 1px solid theme('colors.gray.900');
    
    /* Extra Pro: Un sutil degradado de fondo oscuro para que el texto nunca pierda contraste */
    background-image: linear-gradient(
      to bottom, 
      rgba(3, 7, 18, 0.4), 
      rgba(3, 7, 18, 0.1),
    );
  }
  /* Podés crear variaciones si querés, por ejemplo una con tono verde neón */
  .liquid-glass-gray {
    background-color: rgba(16, 24, 40, 0.5); 
    backdrop-filter: blur(var(--blur-md));
    /*-webkit-backdrop-filter: blur(var(--blur-md));*/ /* Soporte para Safari / iOS ctx.fillStyle = "rgba(3, 7, 18, 0.1)"; // Coincide con tu bg-gray-950*/
    border: 1px solid theme('colors.gray.800');
  }

  .liquid-glass-green {
    background-color: rgba(31, 102, 29, 0.5); 
    backdrop-filter: blur(var(--blur-xs));
    /*-webkit-backdrop-filter: blur(var(--blur-md));*/ /* Soporte para Safari / iOS ctx.fillStyle = "rgba(3, 7, 18, 0.1)"; // Coincide con tu bg-gray-950*/
    border: 1px solid theme('colors.green.300');
  }
  
  .animate-fade-up {
    /* La animación dura 0.8s, usa un freno suave (ease-out) y se queda en su estado final (forwards) */
    animation: fadeUp 0.8s ease-out forwards;
    opacity: 0; /* Arranca invisible para que no parpadee antes del delay */
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
